#
# Configuration for Fingerprint Cards AB (FPC).
#
config FPC_FINGERPRINT_MULTIVENDOR
	bool "FPC multivendor compatible platform IRQ Driver"
	default n
	---help---
	 This is a FPC chipset multivendor compatible platform IRQ Driver.

config FPC_FINGERPRINT_STANDALONE
	bool "FPC SPI and IRQ Driver"
	default n
	---help---
	 This is a FPC chipset SPI and IRQ Driver.
