# FIH: driver/fih/Kconfig {
CONFIG_FIH=y
CONFIG_FIH_SX3=y
CONFIG_FIH_APR=m
CONFIG_FIH_BINF=m
CONFIG_FIH_CPU=m
CONFIG_FIH_DDR=m
CONFIG_FIH_EXP=m
CONFIG_FIH_FVER=m
CONFIG_FIH_INFO=m
CONFIG_FIH_MFD=m
CONFIG_FIH_PDD=m
CONFIG_FIH_SEB=m
CONFIG_FIH_SIM=m
CONFIG_FIH_TRAY=m
CONFIG_FIH_UFS=m
CONFIG_SHR_LOG=m
# FIH: driver/fih/Kconfig }
# CONFIG_XFRM_MIGRATE is not set
CONFIG_DRM_PANEL_DJN_FL7703N_VDO=m
CONFIG_SND_SMARTPA_AW883XX=m
CONFIG_FIH_TOUCH=m
CONFIG_TOUCHSCREEN_SITRONIX_TS=m
CONFIG_TOUCHSCREEN_MTK_FTS_DIRECTORY="FT5446U"
CONFIG_TOUCHSCREEN_FT5446U=m
CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_FPC_FINGERPRINT_STANDALONE=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5k3l6_mipi_raw hi556_mipi_raw"
CONFIG_LOG_BUF_SHIFT=21
# FIH: \kernel\kernel_device_modules-6.6\kernel\printk\Kconfig {
CONFIG_TRACE_PRINTK=y
CONFIG_FIH_PRINTK=m
# FIH: \kernel\kernel_device_modules-6.6\kernel\printk\Kconfig }
