#
# Fingerprint
#
menuconfig INPUT_FINGERPRINT
	bool "Fingerprint"
	help
	  Say Y here, and a list of supported fingerprint will be displayed.

if INPUT_FINGERPRINT

config MTK_FINGERPRINT_SUPPORT
	bool "Mediatek Fingerprint"
	default n
	help
	  Fingerprint mtk driver enable/disable
	  in the kernel.Say Y here if you want to
	  use mediatek fingerprint driver,fingerprint
	  driver will support fingerprint function

config MTK_FINGERPRINT_SELECT
	string "sensor type"
	default "NA"

config FPC_FINGERPRINT
	bool "FPC Driver"
	default n
	---help---
	 This is a FPC chipset Driver.

source "drivers/input/fingerprint/Fpr_Fingerprint_Card/Kconfig"

endif
